* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: rgb(248, 248, 248);
  font-size: 62.5%;
}

.calculator {
  height: 65rem;
  width: 43rem;
  text-align: center;
  position: relative;
  background-color: white;
  border-radius: 2%;
  border-radius: 1rem;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 5.1);
  overflow: hidden;
  margin: auto;
  margin-top: 6%;
}

.displayResult {
  padding-top: 5%;
  height: 16%;
  position: relative;
}

.button-row {
  display: flex;
  padding-top: 5%;
  height: 16%;
  position: relative;
  width: 80%;
  left: 10%;
}

.displayResult input {
  height: 100%;
  width: 80%;
  box-shadow: 0.2rem 0.2rem 0.4rem rgba(255, 255, 255, 0.2);
  background-color: #a7af7c;
  border: none;
  border-radius: 2%;
}

button {
  height: 80%;
  width: 20%;
  background-color: #f0f0f0; /* Example color */
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 1.2);
  color: black;
  font-size: 240%;
}

.button-row.second,
.button-row.third,
.button-row.fifth {
  justify-content: space-between;
}

/* first row style */
/* first row style */
/* first row style */

.clear {
  width: 47%;
  background-color: rgb(240, 0, 0);
}

.divide {
  margin-left: 6%;
}

.times {
  margin-left: auto;
}

/* second row style */
/* second row style */
/* second row style */

/* third row style */
/* third row style */
/* third row style */

.plus {
  height: 209%;
}

/* fourth row style */
/* fourth row style */
/* fourth row style */

.two,
.three {
  margin-left: 7%;
}

/* fifth row style */
/* fifth row style */
/* fifth row style */

.equal {
  background-color: rgb(33, 150, 243);
}

.delete {
  background-color: rgb(8, 151, 156);
}

@media only screen and (max-width: 1000px) {
  .calculator {
    margin-top: 11%;
  }
}

@media only screen and (max-width: 500px) {
  .calculator {
    margin-top: 33%;
    height: 55rem;
    width: 30rem;
  }

  button {
    font-size: 190%;
  }
}

@media only screen and (max-width: 330px) {
  .calculator {
    margin-top: 46%;
    height: 40rem;
    width: 25rem;
  }
}
